{% extends 'base.html' %}

{% block html_title %}{{_('経営理念')}} | {{_('SunFlower-Soft')}}{% endblock %}
{% block header %}{% include 'sfs/moudel/header.html' %}{% endblock %}
{% block title %}
    <div class="title"><img src="../static/sfs/images/sfs_title_01.jpg"></div>
{% endblock %}
{% block content %}
    <div id="contents" class="content" style="min-height: 300px;">
        <div class="content_content">
        {% comment %}
            <div class="content_content_01">
                <div class="icon_03"></div>
                <div class="title_01">{{_('経営理念')}}</div>
            </div>
            <div class="content_content_02">
            {% if idea.content %}{{idea.content}}{% endif %}
            </div>
        {% endcomment %}
            <h2 class="hdg-block">{{_('経営理念')}}</h2>
            <div class="content_content_02" style="min-height: 149px;">
            {% if idea.content %}{{idea.content}}{% endif %}
            </div>
        </div>
    {% comment %}
        <div id="content_goto" class="content_goto">
            <ul>
                <li><a>経営理念</a></li>
                <li><a href="javascript: homepage();">ホ ー ム</a></li>
                <li><a href="javascript: company_message();">社会情報</a></li>
                <li><a href="javascript: company_business();">業務内容</a></li>
                <li><a href="javascript: company_employment();">採用情報</a></li>
            </ul>
        </div>
    {% endcomment %}
    </div>
    {% include 'sfs/moudel/common_js.html' %}
{% endblock %}
{% block footer %}{% include 'sfs/moudel/footer.html' %}{% endblock %}
